<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Spring 默认作用域未singleton-->

    <!-- DataSource start -->
    <!-- destroy-method 当该连接销毁时候，会调用BasicDataSource类中的close方法。-->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="url" value="${spring.datasource.url}"/>
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>

        <property name="initialSize" value="10"/>
        <property name="minIdle" value="10"/>
        <property name="maxIdle" value="100"/>
        <property name="maxActive" value="100"/>
        <property name="dbProperties">
            <props>
                <prop key="useUnicode">yes</prop>
                <prop key="characterEncoding">utf8</prop>
                <!--<prop key="useSSL">false</prop>-->
                <!-- SQL长度限制 -->
                <!--<prop key="max_allowed_packet">4096</prop>-->
            </props>
        </property>
    </bean>

    <tx:jta-transaction-manager />
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--<property name="mapperLocations" value="classpath:mapper/**/*.xml"/>-->
        <property name="transactionFactory">
            <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- DataSource end -->

    <!-- DAO start -->
    <bean class="io.github.xudaojie.jdoc.dao.impl.BaseDAO" id="baseDAO">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean class="io.github.xudaojie.jdoc.dao.impl.AccountDAOImpl" id="accountDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.ProjectDAOImpl" id="projectDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.ModuleDAOImpl" id="moduleDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.MarkdownDAOImpl" id="markdownDAO" parent="baseDAO"/>
    <!-- DAO end -->
</beans>