<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Spring 默认作用域未singleton-->

    <!-- DataSource start -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${spring.datasource.url}"/>
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
        <property name="connectionProperties">
            <props>
                <prop key="useUnicode">yes</prop>
                <prop key="characterEncoding">utf8</prop>
                <!--<prop key="useSSL">false</prop>-->
                <!-- SQL长度限制 -->
                <!--<prop key="max_allowed_packet">4096</prop>-->
            </props>
        </property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--<property name="mapperLocations" value="classpath:mapper/**/*.xml"/>-->
    </bean>
    <!-- DataSource end -->

    <!-- DAO start -->
    <bean class="io.github.xudaojie.jdoc.dao.impl.BaseDAO" id="baseDAO">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean class="io.github.xudaojie.jdoc.dao.impl.AccountDAOImpl" id="accountDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.ProjectDAOImpl" id="projectDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.ModuleDAOImpl" id="moduleDAO" parent="baseDAO"/>
    <bean class="io.github.xudaojie.jdoc.dao.impl.MarkdownDAOImpl" id="markdownDAO" parent="baseDAO"/>
    <!-- DAO end -->
</beans>