<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>

        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- Continue going here -->
    <!-- 在Spring 中已配置 -->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/jdoc?useSSL=false"/>-->
                <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="123456"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <typeAliases>
        <typeAlias type="io.github.xudaojie.jdoc.model.AccountModel" alias="Account"/>
        <typeAlias type="io.github.xudaojie.jdoc.model.ProjectModel" alias="Project"/>
        <typeAlias type="io.github.xudaojie.jdoc.model.MarkdownModel" alias="Markdown"/>
        <typeAlias type="io.github.xudaojie.jdoc.model.ModuleModel" alias="Module"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/account.xml"/>
        <mapper resource="mapper/project.xml"/>
        <mapper resource="mapper/markdown.xml"/>
        <mapper resource="mapper/module.xml"/>
    </mappers>

</configuration>