<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xudaojie.jdoc.model.ModuleModel">
    <select id="get" parameterType="long" resultType="io.github.xudaojie.jdoc.model.ModuleModel">
        SELECT *
        FROM module
        WHERE id = #{id}
    </select>
    <select id="getListByProject" resultType="io.github.xudaojie.jdoc.model.ModuleModel">
        SELECT *
        FROM module
        WHERE project_id = #{projectId}
    </select>
    <update id="update">
        UPDATE module
        SET owner   = name = #{name}, #{owner}, project_id = #{projectID}, creator = #{creator},
            handler = #{handler}, description = #{description}
        WHERE id = #{id}
    </update>
    <insert id="insert">
        INSERT INTO module (name, owner, project_id, creator, handler, description)
        VALUES (#{name}, #{owner}, #{projectId}, #{creator}, #{handler}, #{description})
    </insert>
</mapper>